@media screen and (max-width: 576px) {
    .nav-container, .banner-image, .nav-container ul ,.nav-content  {
        flex-direction: column;
    }
    .banner-image, .banner-img {
        width: 100%;
    }
    
    .nav-container {
        text-align: center;
    }
    
    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
    }
    .banner-content {
        width: 100%;
    }
    .nav-social {
        margin-top: 20px;
    }
    .nav-logos {
        margin-bottom: 20px;
    }

  .all-desc {
    text-align: left;
    width: 70%;
    margin: auto;
    }
    .gamebox-container {
        flex-direction: column;
    }

    .box-desc {
        
    }
    .box {
        text-align: center;
        width: 70%;
    }


    .play-container {
        flex-direction: column;
        padding-bottom: 250px;
        gap: 50px;
    }
    .play-content {
        margin: 20px 120px;
        width: 100%;
    }
    .play-images {
        width: 100%;
    }
    #p-img2 {
        width: 60%;
        padding: 50px 60px;
    }
    .play-image-container {
        text-align: center;
    }
    .play-title {
        width: 100%;
    }
    #p-img1 {
        left: 50px;
        max-width: 200px;
    }
    .gamebox-container {
        flex-direction: column;
    }
    
    .logo-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        gap: 20px;
    }
    .logo-img {
        width: 20px;
    }
    .logo-title {
        font-size: 12px;
    }
    .logo-box {
        gap: 5px;
    }
    .logo-container {
        margin: 100px 0;
    }
    .f-link, .f-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .f-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .block {
        display: block;
    }
    .f-logo {
        margin: 0;
    }
    .f-link > span {
        margin: 0;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    
    .logo-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        gap: 20px;
    }
    .logo-img {
        width: 40px;
    }
    .logo-title {
        font-size: 1rem;
    }
    .logo-box {
        gap: 5px;
    }
    .logo-container {
        margin: 100px 0;
    }

    .nav-container, .banner-image, .nav-container ul ,.nav-content  {
        flex-direction: column;
    }
    .banner-image, .banner-img {
        width: 100%;
        text-align: center;
    }
    .buttons {
        padding-bottom: 20px;
    }
    
    .nav-container {
        text-align: center;
    }
    
    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
    }
    .banner-content {
        width: 100%;
    }
    .nav-social {
        margin-top: 20px;
    }
    .nav-logos {
        margin-bottom: 20px;
    }

  .all-desc {
    text-align: left;
    width: 70%;
    margin: auto;
    }
    .gamebox-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box-desc {
        
    }
    .box {
        text-align: center;
        width: 80%;
        margin: auto;
    }


    .play-container {
        flex-direction: column;
    }
    .play-content {
        margin: 20px 120px;
        width: 100%;
    }
    .play-images {
        width: 100%;
    }
    #p-img2 {
        width: 60%;
        padding: 0 60px;
    }
    .play-image-container {
        text-align: center;
    }
    .play-title {
        width: 100%;
    }
    #p-img1 {
        left: 50px;
    }

    .gamebox-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .f-link, .f-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .f-terms {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        row-gap: 20px;
    }
    .block {
        display: block;
    }


}
