@media screen and (max-width: 576px) {
    .nav-container, .banner-image, .nav-container ul ,.nav-content  {
        flex-direction: column;
    }
    .banner-image, .banner-img {
        width: 100%;
    }
    
    .nav-container {
        text-align: center;
    }
    
    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
    }
    .banner-content {
        width: 100%;
    }
    .nav-social {
        margin-top: 20px;
    }
    .nav-logos {
        margin-bottom: 20px;
    }

  .all-desc {
    text-align: left;
    width: 70%;
    margin: auto;
    }





}
